<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<head>
    <title>{% block title %}企业安全漏洞扫描系统{% endblock %}</title>
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}
</head>
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">VulScanner</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                        Scan Type
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/">快速扫描</a></li>
                        <li><a href="{{ url_for("main.port_scan") }}">端口扫描</a></li>
                        <li><a href="{{ url_for("main.advance") }}">一条龙服务</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for("main.task") }}">Task</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for("main.running") }}">Running</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for("main.statistic") }}">Statistics</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for("plugin.plugins") }}">Plugin Manager</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% block page_content %}
    {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
</html>